<form method="post" id="form_login">
  <div class="form-group">
    <label for="email">Email</label>
    <input required="required" type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input required="required" type="password" class="form-control" id="password">
  </div>


  <button type="submit" class="btn btn-success">Ingresar</button>
  <a onclick="history.back()" id="cancel" name="cancel" class="btn btn-default">Cancelar</a>
</form>